.banner__super , .banner__super__load{
    width: 100%;    
    display: flex;
    align-items: center;
    padding: 10px 20px;  
    gap: 20px;
    flex-wrap: wrap;
}

.banner__left{
    width: 300px;
}

.banner__right , .banner__right__load{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.banner__right__heading{
    font-size: 50px;    
}

.banner__right__description{
    margin: 10px 0;
    color: #CCB0BC;
    font-size: .8em;
    font-weight: 500;
}

.banner__right__bottom{
    color: #CCB0BC;
}

.banner__right__bottom span{
    font-weight: 600;
}

.banner__left__load{
    height: 250px;
    width: 250px;
    background-color: #2A3038;
    border-radius: 20px;
    animation: loadingImage infinite 1.2s linear;
}

.banner__right__one__load , .banner__right__description__load{
    padding: 10px;
    background-color: #2A3038;
    border-radius: 20px;
    margin: 20px 20px;
    width: 200px;
    animation: loadingImage infinite 1.2s linear;
}

.banner__right__description__load{
    margin: 10px 10px;
    width: 50vw;
}

.banner__image__artist{
    border-radius: 50%;
    box-shadow: 0 0 20px #000;
}

.banner__right__heading__load{
    padding: 20px;
    width: 40vw;
    margin: 30px 30px;
    background-color: #2A3038;
    border-radius: 10px;
    animation: loadingImage infinite 1.2s linear;
}

.banner__image{
    transition: .4s;
}

.banner__image:hover{
    scale: 1.03;
    cursor: pointer;
}

@media (max-width: 700px){
    .banner__image{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 600px){

    .banner__right__heading{
        font-size: 20px;
    }
}