.home__header{
    background-color: transparent;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 30px;
    padding-top: 10px;
}

.home__header__right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home__header__right a{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0000008d;
    font-size: .8em;
}

.home__header__right__down__symbol{
    transition: .4s;
    cursor: pointer;
    position: relative;
    transition: .4s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 100px;
    font-size: 12px;
}

.home__header__logout{
    position: absolute;
    bottom: -25px;
    font-size: 1em;
    font-weight: 500;
    right: 0;
    color: rgb(141, 119, 119);
}

.home__header__logout:hover{
    color: turquoise;
}

.home__header__right__down__symbol a{
    background-color: unset;
}

@media (max-width: 900px){
    a[href = "https://www.spotify.com/in-en/download/windows/"]{
        display: none;
    }
    .home__header__right{
        gap: 10px;
    }
}
