
.home__playlist__card__outer , .home__top__artist__card__outer , .home__new__releases__card__outer ,.home__top__albums__card__outer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid #FFF; */
}

.home__playlist__card__outer .wrapper , .home__top__artist__card__outer .wrapper , .home__new__releases__card__outer .wrapper ,.home__top__albums__card__outer .wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 1px solid #FFF; */
}

.home__top__artist__card__outer .wrapper{
    gap: 40px;
}

.playlist__card{
    min-width: 320px;
    padding-right: 10px;
    /* border: 1px solid #FFF; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #252f31;
    cursor: pointer;
}
.playlist__card:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}

.playlist__card img{
    width: 70px;
}

.playlist__card__image__load{
    width: 70px;
    height: 70px;
    background-color: #6a6666;
    border-radius: 5px;
    animation: loadingImage infinite 1s linear;
}

.playlist__card__title__load{
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: #6a6666;
    animation: loadingImage infinite 1s linear;
}

.home__artist__card , .home__new__releases__card , .home__top__albums__card{
    display: flex;
    max-width: 200px;
    flex-direction: column;
    text-overflow: ellipsis;
    /* border: 1px solid #FFF; */
    cursor: pointer;
}

.home__artist__card{
    background-color: rgba(18, 18, 18, 0.5);
    border-radius: 10px;
}
.home__artist__card img , .home__new__releases__card img , .home__top__albums__card img{
    width: 200px;
    height: 200px;
    object-position: top;
    border-radius: 50%;
    object-fit: cover;
}

.home__new__releases__card img , .home__top__albums__card img{
    border-radius: 10px;
}


.home__artist__card__image__load, .home__new__releases__card__image__load , .home__top__albums__card__image__load{
    width: 200px;
    height: 200px;
    background-color: #252F31;
    border-radius: 50%;
    animation: loadingImage infinite 1s linear;
}