.search__inputs{
    display: flex;
    gap: 10px;
    color: #000;
    max-width: 450px;
    position: relative;

}

.search__form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
}

.icons__parent{
    position: relative;
}

.search__inputs input{
    color: #000;
}

.search__inputs input{
    padding: 10px;
    padding-left: 40px;
    padding-right: 30px;
    background-color: #4a4848;
    border: none;
    border-radius: 30px;
    width: 300px;
    color: #FFF;
    outline: none;
}

.search__inputs input::placeholder{
    color: #aba5a5;
}

.input__label__search__icon{
    position: absolute;
    left: 10px;
    top: 8px;
}

.input__label__cross__icon{
    position: absolute;
    right: 20px;
    top: 8px;
    cursor: pointer;
}

.search__button{
    border: none;
    outline: none;
    background-color: #4a4848;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.search__body{
    display: flex;
    flex-direction: column;
    padding: 0 30px; 
    gap: 10px;
    align-items: start;
    margin-top: 10px;
}

#categories{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.category__button{
    color: #FFF;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #3e3c3c;
    cursor: pointer;
    font-weight: 300;

}

.songs__super__search{
    display: flex;
    flex-direction: column;
}

.songs__super__search h3{
    margin-left: 50px;
    align-self: flex-start;
}


.song :nth-child(1){
    display: flex;
    justify-content: space-between;
}

.search__song__loading{
    width: 90%;
    height: 50px;
    background-color: #232121;  
    border-radius: 20px;  
    margin: 20px;
    margin-left: 50px;
    animation: loadingImage infinite 1.2s linear;

}

@media (max-width: 750px){
    .search__body{
        padding: 0;
        padding-left: 10px;
    }
}

@media (max-width: 400px){
    .search__inputs input{
        width: 200px;
    }
}