.songs__super{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
}
.songs__wrapper{
    /* display: flex;
    justify-content: space-between;*/
    align-items: center;
    width: 100%;
    padding-left: 100px;
    margin-bottom: 10px;
    display: flex;
    /* background-color: blue; */
    justify-content: space-around;
    gap: 20px;  

}

.songs__wrapper div{
    width: 200px;
    /* background-color: yellow; */
    /* display: flex; */
}



 .songs__hr{
    width: 100%;
    text-align: center;
    opacity: .4;
    margin-bottom: 5px;
}


.songs__wrapper__audio{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}



.songs__wrapper__audio:hover{
    box-shadow: 0 5px 10px #000000ab;
}




.artist__name , .song__name , .album__name , .song__duration , .song__addedon{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #acb0aa;   
    /* margin: 0 30px;  */
}
.song__image__artists{
    display: flex;
    gap: 10px;
} 

.song__details__compact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



    .song__name{
        color: #FFF;
    }


.first__tag{
    flex-basis: 10px;
    display: flex;
    align-items: center;
}

.no__space{
    display: flex;
    gap: 20px;
    margin-right: 100px;
}