*{
    color: #FFF;
}



.webplayer__body{
    /* border: 1px solid #FFF; */
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    /* background: linear-gradient(#543DA1 , rgb(32, 10, 62), #2A2A2A); */
}