#super{
    /* border: 1px solid #FFF; */
    height: 100%;
    width: 80%;
    border-radius: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#222222 , #131819, #121212);
    transition: all .4s;
    padding-bottom: 100px;
}

